/*===========================*/
/*===  Author Doug Bowmer ===*/
/*===  Date: 12/01/2021   ===*/
/*===========================*/

/* Base Components to style*/
/*looking to replicate original*/
*{
    box-sizing: border-box;
}


body{
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

figure {
    margin-block-start:45px
}

ul {
    display:block;
    padding: 10px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;/*prestyling value check against original*/
    margin-block-end: .5em;/*prestyling value check against original*/
    position: relative;
}

li {
    display: flex;
    background-color: white;
    height:80px;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-style: inset;
    border-top-color: rgba(220, 220, 220);/*prestyling value check against original*/
    border-top-color: rgba(220, 220, 220);/*prestyling value check against original*/
    border-width: 7px;
    font-size: 25px;/*prestyling value check against original*/
    font-weight: 600;/*prestyling value check against original*/
    position: absolute;/*Allow for tile to ride above Backgoun*/
    cursor:pointer;
}

figcaption {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;/*prestyling value check against original*/
    margin-left: 35px;/*prestyling value check against original*/
}

/* Classes to implement Expansion and Grid Cascade*/
.puzzle {
    display:grid;
    grid-template-columns: repeat(3, 0fr);
    grid-auto-rows: 0 fr;
    width: 230px;
    height: 230px;
}

